.certificates {
  &__info {
    transform: translateX(-.2rem);
    @media all and (max-width: 992px) {
      transform: none;
    }

    h2 {
      margin-bottom: .4rem;
      @media all and (max-width: 576px) {
        margin-bottom: .16rem;
      }
    }
  }

  &__items {
    display: grid;
    gap: .24rem;
    grid-template-columns: repeat(2, minmax(2.45rem, 1fr));
    margin-bottom: .24rem;
    @media all and (max-width: 992px) {
      gap: .16rem;
      margin-bottom: .4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      height: .55rem;
      border: .02rem solid var(--black);
    }

    + div {
      a {
        width: .24rem;
        height: .24rem;
        flex-shrink: 0;

        + div {
          max-width: 3.38rem;
        }
      }
    }
  }

  &__images {
    padding-top: .2rem;
    @media all and (max-width: 992px) {
      padding-top: 1.05rem;
      margin-bottom: .4rem;
    }

    .image {
      &:first-child {
        width: 4.31rem;
        height: 4.93rem;
        @media all and (max-width: 576px) {
          width: 2.52rem;
          height: 2.88rem;
        }
      }

      &:last-child {
        width: 2.92rem;
        height: 2.2rem;
        position: absolute;
        right: 0;
        top: -.12rem;
        @media all and (max-width: 576px) {
          width: 2.01rem;
          height: 1.51rem;
        }
      }

    }
  }
}