.new{
  .catalog-item{
    .image{
      height: 4.77rem;
      @media all and (max-width: 993px){
        height: 3.79rem;
      }


    }
  }
  h2{
    margin-bottom: .45rem;
  }
  .swiper-wrapper{
    margin-bottom: .46rem;

    @media all and (max-width: 576px){
      margin-bottom: .36rem;
    }
  }
}