.main-page {
  margin-top: var(--header-height);
}
.policy {
  margin-top: var(--header-height);
}

.main-text {
  position: relative;
  z-index: 1;
  color: var(--accent-light);
  line-height: 130%;
}

.mainlist-header {
  height: gem(55);
  font-size: gem(40);
  color: var(--accent-text);
  line-height: normal;
}

.mob-background {
  width: gem(420.416);
  height: gem(233.112);
  transform: rotate(-37.123deg);
  flex-shrink: 0;
  border-radius: 420.416px;
  background: rgba(62, 109, 178, 0.35);

  filter: blur(50px);
}

.link-background {
  display: none;
  width: gem(53);
  height: gem(84);
  transform: rotate(49.428deg);
  flex-shrink: 0;
  background: rgba(60, 138, 255, 0.7);
  filter: blur(25px);
}

.swiper-slide {
  transition: transform 0.5s;
}

.swiper-slide-active {
  transform: scale(1.2);
}

.swiper-slide-active-prev {
  transform: scale(0.9);
}

.swiper-slide-active-next {
  transform: scale(0.9);
}

h1 h2 h3 h4 h5 h6 {
  letter-spacing: normal;
}

.star-wrap-accent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: gem(14);
  height: gem(14);
  &.block-text{
    display: flex;
  }
  svg{
    width: gem(14);
  height: gem(14);
  }
  @media screen and (min-width: 577px) {
    width: gem(48);
    height: gem(46);
    svg{
      width: gem(48);
      height: gem(46);
    }
  }
}