.btn-small {
  display: flex;
  width: gem(138);
  height: gem(30);
  padding: gem(10);
  justify-content: center;
  align-items: center;
  font-size: gem(16);
  border-radius: gem(100);
  transition: all 0.3s;
  &.tg {
    background: var(--black);
    color: var(--white);
  }
  &.inst {
    background: var(--white);
    color: var(--black);
  }
  &.footer-btn {
    font-size: gem(20);
    width: gem(150);
    height: gem(42);
    @media screen and (min-width: 577px) {
      width: gem(283);
      height: gem(60);
      font-size: gem(32);
    }
  }
  &:hover, &:focus{
    scale: 1.1;
  }
}
.btn-wrap {
  position: absolute;
  bottom: gem(18);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: gem(44);
  &.footer-btn {
    position: static;
    padding: 0;
    gap: gem(20);
    @media screen and (min-width: 577px) {
      gap: gem(75);
    }
  }
}

// .btn:hover {
//   background: radial-gradient(
//     circle at center,
//     rgba(60, 138, 255, 0.8) 0%,
//     rgba(24, 72, 146, 0.8) 100%
//   );
//   box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
// }

// .load-more-btn {
//   position: relative;
//   z-index: 1;
//   font-weight: 700;
//   display: block;
//   padding: gem(16) gem(8);

//   margin: auto;
//   color: var(--accent-light);
//   border-bottom: 2px solid var(--accent-light);
//   border-right: 2px solid transparent;
//   border-left: 2px solid transparent;
//   border-top: 2px solid transparent;
//   transition: all 0.3s ease;
//   &:hover,
//   &:focus {
//     padding: gem(16) gem(24);
//     border-radius: 10px;
//     border-right: 2px solid var(--accent-light);
//     border-left: 2px solid var(--accent-light);
//     border-top: 2px solid var(--accent-light);
//   }
// }
