.checkbox {
  width: max-content;
  cursor: pointer;
  margin-bottom: .08rem;

  .box {
    width: .32rem;
    height: .32rem;
    border: .01rem solid var(--black);
    background-color: transparent;
    transition: all .3s linear;
flex-shrink: 0;
    span {
      opacity: 0;
      transition: opacity .3s linear;
    }
  }

  .title {
    margin: 0 .16rem;
  }

  &.active {
    .box {

      border-color: var(--accent-light);
      background-color: var(--accent-light);

      span {
        opacity: 1;
      }
    }
  }

  &.round {
    .box {
      width: .24rem;
      height: .24rem;
      border-radius: 50%;
      span{
        position: absolute;
        width: .144rem;
        height: .144rem;
        border-radius: 50%;
        background-color: var(--accent);
      }
      &:hover{
        span{
            background-color: var(--accent-light);
        }
      }
    }

    .title {
      margin: 0 .08rem;
    }

    &.active {
      .box {
        border-color: var(--black);
        background-color: transparent;

      }
    }
  }
}