.counter {
  padding: 0 .16rem;
  height: .52rem;
  border: gem(1) solid var(--black);
  min-width: 1.05rem;
  &__result {
    font-size: .16rem;
    margin: 0 .16rem;

  }

  button {
    line-height: .2rem
  }
}