.filter {
  &-btn {
    display: none;
    width: .48rem;
    height: .48rem;
    background-color: var(--accent-light);
    flex-shrink: 0;
    border-radius: 50%;
    @media all and (max-width: 992px) {
      display: flex;
      margin-left: .18rem;
    }

    &::before {
      width: .16rem;
      height: .16rem;
      top: -.06rem;
      right: 0;
      content: '';
      position: absolute;
      background-color: var(--main);
      border-radius: 50%;
    }

    &.selected {

    }
  }

  width: 2.66rem;

  &__header {
    display: none;
    @media all and (max-width: 992px) {
      display: flex;
      margin-bottom: .3rem;
      padding: .2rem 0 .15rem;
      position: relative;
      &::before {

        height: .01rem;
        bottom: 0;
        background-color: var(--black);
        left: -.16rem;
        right: -.16rem;
        content: '';
        position: absolute;
      }
    }
  }

  .price {


    &__range {
      input[type=range] {
        height: gem(1);
        width: 100%;
        -webkit-appearance: none;
        background: var(--black);
        position: relative;
        //--value: 0;
        --range: calc(var(--max) - var(--min));
        --ratio: calc((var(--value) - var(--min)) / var(--range) * 100%);

        &::before {
          width: var(--ratio);
          height: gem(2);
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          content: '';
          position: absolute;
          background-color: var(--black);
        }


      }


      /*webkit*/
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: gem(11);
        height: gem(11);
        border-radius: 50%;
        background: var(--black);
        border: none;

      }

    }
  }

  .item + .btn {
    margin-top: .4rem;
  }

  @media all and (max-width: 992px) {
    position: fixed;
    width: calc(100% - .16rem);
    top: var(--header-height);
    right: 0;
    min-height: 50%;
    padding: 0 .16rem;
    background-color: var(--white);
    z-index: 10;
    transform: translateX(100%);
    transition: all .3s linear;

  }
  @media all and (max-width: 576px) {
    padding-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.active {
    transform: translateX(0);

  }


}