.footer {
  position: relative;
  color: var(--black);
  padding-top: gem(36);
  padding-bottom: gem(10);
  background: linear-gradient(
    164deg,
    #419fd9 22.28%,
    #b6e3ff 51.62%,
    #78cbff 79.36%
  );
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: gem(38);
    margin-bottom: gem(30);
  }
  &__info {
    text-align: center;
    font-size: gem(24);
    margin-bottom: gem(40);
    &.map {
      margin-bottom: gem(20);
    }
  }
  &__link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: gem(20);
    font-family: NAMU;
    font-size: gem(18);
    &.bottom {
      gap: gem(16);
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: gem(20);
    font-size: gem(16);
    font-weight: 800;
    text-align: center;
  }
  &__bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: gem(20);
    font-weight: 800;
  }
  &__bg1 {
    position: absolute;
    width: gem(55);
    height: gem(35);
    bottom: gem(100);
    left: gem(65);
    background-image: url("@img/footer-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &__bg2 {
    position: absolute;
    width: gem(88);
    height: gem(79);
    bottom: gem(240);
    right: 0;
    background-image: url("@img/book-section-bg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &__bg3 {
    position: absolute;
    width: gem(111);
    height: gem(71);
    top: gem(280);
    left: 0;
    background-image: url("@img/book-section-bg3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 577px) {
  .footer {
    padding-bottom: gem(40);
    padding-top: gem(75);
    &__wrap {
      gap: gem(90);
      margin: 0;
    }
    &__map-wrap {
      position: absolute;
      left: gem(80);
      top: gem(75);
    }
    &__info {
      font-size: gem(40);
      margin-bottom: gem(150);
      &.map {
        text-align: start;
        margin-bottom: gem(66);
      }
      &.doc {
        text-align: end;
        margin-bottom: gem(66);
      }
    }
    &__link-wrap {
      font-size: gem(20);
      gap: gem(25);
      &.bottom {
        align-items: start;
      }
      &.doc {
        align-items: end;
      }
    }
    &__doc-wrap {
      position: absolute;
      right: gem(80);
      top: gem(75);
    }
    &__bottom-wrap{
      font-size: gem(20);
    }
  }
}
