.instagram {
  @media all and (max-width: 576px) {
    overflow: hidden;
    h2 {
      margin-bottom: .24rem;
    }
  }

  .row {
    &:first-child {
      margin-bottom: .5rem;
      @media all and (max-width: 576px) {
        margin-bottom: .35rem;
      }
    }
  }

  .swiper {
    @media all and (max-width: 576px) {
      overflow: visible;
    }

    &-wrapper {

    }

    &-navigation {
      margin-top: .32rem;
    }

    .image {
      height: 3.53rem;
      @media all and (max-width: 992px) {
        height: 2.8rem;
      }

      img {
        object-fit: cover;
      }
    }
  }

}