.size {
  transition: all .3s ease-in-out;
  position: relative;

  &::before {
    width: .32rem;
    height: .32rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    content: '';
    position: absolute;
    background-color: var(--accent-light);
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: var(--white);

    &::before {
      background-color: var(--accent);
      opacity: 1;
    }
  }

  &.active {
    pointer-events: none;

    &::before {
      opacity: 1;
    }
  }
}