.about-page {
  .main-screen {
    padding-top: var(--header-height);
    padding-bottom: 1rem;
    height: 100%;
    @media all and (max-width: 576px) {
      padding-bottom: .48rem;
    }

    h1 {
      margin-bottom: .4rem;
      @media all and (max-width: 992px) {
        margin-bottom: .24rem;
      }
    }

    .row {
      align-items: center;

      .col-lg-3 {
        align-self: end;

        .image {
          transform: translateY(.63rem);
          height: 3.85rem;
          @media all and (max-width: 992px) {
            transform: none;
            margin-bottom: .32rem;
          }
          @media all and (max-width: 576px) {
            max-width: 2.53rem;
            height: 3.06rem;
          }
        }
      }

      .col-lg-4:last-child {
        .image {
          height: 5.8rem;
          @media all and (max-width: 992px) {
            margin-top: .32rem;
          }
          @media all and (max-width: 576px) {
            height: 4.61rem;
          }

        }

        @media all and (max-width: 992px) {
          margin-left: auto;
        }
      }
    }


  }
}