.success-page {
  padding-bottom: 0 !important;

  h1 {
    font-family: TenorSans, sans-serif;
    padding-bottom: .24rem;
    border-bottom: gem(1) solid var(--black);

    + div {
      font-size: .18rem;
    }

    @media all and (max-width: 992px) {
      padding-bottom: .16rem;
    }
  }

  .image {
    height: 5.52rem;
    @media all and (max-width: 992px) {
      margin-bottom: .32rem;
      height: 4.52rem;
    }
    @media all and (max-width: 576px) {
      height: 3.41rem;
    }
  }

  .info {
    padding-right: .94rem;
    @media all and (max-width: 992px) {
      padding-right: 0;
    }
  }
}