:root {
  --main: #D8C6BC;
  --accent: #948277;
  --accent-light: #EFE5DF;

  --black: #434343;

  --white: #FFF;
  --soft-white: #F9F5F1;




  --red: #C14040;



  --grey: #A0A0A0;


  --gradient: linear-gradient(227deg, #F0E9E9 0.82%, #E8EBEF 50.51%);
}
