@import "typography";
@import "colors";


:root {
  --header-height: #{gem(68)};
  --header-height-decrement: #{gem(-68)};
  --container-gap: #{gem(20)};
  --container-gap-decrement: #{gem(-20)};

  @media all and (min-width: 577px) {
    --container-gap: #{gem(80)};
    --container-gap-decrement: #{gem(-80)};
    --section-padding: #{gem(50)};
    --section-padding-decrement: #{gem(-50)};
  }

  @media all and (min-width: 993px) {
    --section-padding: #{gem(70)};
    --section-padding-decrement: #{gem(-70)};
    --container-gap: #{gem(80)};
    --container-gap-decrement: #{gem(-80)};
  }
}
