$maxWidth: 1920;
$minWidth: 360;



$mainFont: "Inter";
$mainWeight: 500;





$fontFamily: $mainFont, sans-serif;
$fontColor: var(--white);

$fontWeight: $mainWeight;

$standartTrans: all 280ms ease-in-out 0ms;
