$maxWidth: 1440;
$minWidth: 375;


$mainFont: CeraPro;
$mainWeight: 400;





$fontFamily: $mainFont, sans-serif;
$fontColor: var(--black);

$fontWeight: $mainWeight;

$standartTrans: all 280ms ease-in-out 0ms;
