
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    color: inherit;
  }
}

.icon-tape:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e90a";
}
.icon-delete:before {
  content: "\e905";
}
.icon-world:before {
  content: "\e906";
}
.icon-delivery:before {
  content: "\e907";
}
.icon-return:before {
  content: "\e908";
}
.icon-service:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-bag:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-filter:before {
  content: "\e902";
}
.icon-done:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e90b";
}


.icon{
  &-24{
    font-size: .24rem;
    line-height: .24rem;
  }

  &-32 {
    font-size: gem(32);
    line-height: gem(32);
  }

  &-64 {
    font-size: gem(64);
    line-height: gem(64);
  }
}