.text-page {
  section {
    padding-bottom: 0;
  }

  .row:first-child {
    margin-bottom: .4rem;
    @media all and (max-width: 576px) {
      margin-bottom: .16rem;
    }
  }

  &__nav {
    .item {
      cursor: pointer;
      width: 50%;
      padding-bottom: .12rem;
      border-bottom: gem(1) solid var(--black);
      position: relative;
      transition: all .3s linear;

      &::after {
        width: 100%;
        height: gem(3);
        bottom: 0;
        transform: translateY(50%);
        left: 0;
        content: '';
        position: absolute;
        background-color: var(--black);
        opacity: 0;
        transition: all .3s linear;
      }

      &:hover {
        color: var(--accent);

        &::after {
          opacity: 1;
          background-color: var(--accent)
        }
      }


      &.active {
        pointer-events: none;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .title {
    div:first-child {
      flex-shrink: 0;
      margin-right: .1rem;
      width: .48rem;
      height: .48rem;
      border-radius: 50%;
      background-color: var(--accent-light);
    }
  }

  .content {
    ul {
      padding-left: .2rem;
      list-style: disc outside;
      margin-bottom: .24rem;
    }

    p {
      margin-bottom: .24rem;
    }
  }

  h1 {
    @media all and (max-width: 992px) {
      margin-bottom: .32rem;
    }
  }

  .col-md-6 {

  }
}