.logo {
  width: gem(206);
  height: gem(78);
  flex-shrink: 0;
  z-index: 4;

  @media all and (max-width: 576px) {
    width: gem(141);
    height: gem(54);
  }
}

.cart-btn {
  position: relative;

  &__count {
    position: absolute;
    width: .2rem;
    height: .2rem;
    background-color: var(--main);
    right: -.1rem;
    bottom: -.08rem;
    border-radius: 50%;
    transition: all .35s ease-in-out;
  }

  &:hover {
    .cart-btn__count {
      background-color: var(--accent);
      color: var(--white);
    }
  }
}

.section {
  padding: var(--section-padding) 0;

  &__title {
    padding-bottom: .26rem;
  }
}


.social {
  width: .28rem;
  height: .28rem;
  border: gem(1) solid #515151;
  margin-right: .12rem;
  background-color: transparent;
  transition: background-color .35s ease-in-out;

  span {
    color: var(--white);
  }

  &:hover {
    background-color: #fff;

    span {
      color: var(--main);
    }
  }
}

[disabled] {
  opacity: .3;
}


.link {

  position: relative;

  &::before {
    width: 0;
    height: gem(1);
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    background-color: var(--black);
    transition: width .3s ease-in-out;
  }

  &-white {
    &::before {
      background-color: var(--white);
    }
  }

  &:hover {
    &::before {
      width: 100%;
    }

  }

}

.product-page{
  position: relative;
}