.size-page {
  h1 {
    margin: .4rem 0 .32rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 3.38rem 1fr;
    column-gap: .5rem;
    @media all and (max-width: 992px) {
      grid-template-columns: 100%;
      .text {
        margin-bottom: .32rem;
      }

    }

    .text {
      b {
        display: block;
      }

      + div {
        .btn {
          margin-left: 1rem;
          @media all and (max-width: 576px) {
            margin: .16rem auto 0;
          }
        }
      }
    }

    .image {
      width: 100%;
      height: 3.12rem;
      background: url('@img/size.png') no-repeat center  / contain;
      margin-bottom: .3rem;
      @media all and (max-width: 992px) {
        height: 2.12rem;
      }
      @media all and (max-width: 576px) {
        height: 3.46rem;
        background: url('@img/size_mob.png') no-repeat center  / contain;
        + div {
          flex-wrap: wrap;

        }
      }


    }

  }
}